.outer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 254, 253);

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.inner{
    /* position: fixed; */
    padding: 32px;
    height: fit-content;
    width: 500px;
    background-color: rgb(219, 226, 226);
    filter: drop-shadow(0px 0px 2px black);
    border-radius: 5px;
}

.buttonsub{
    color: aliceblue !important;
    background-color: blue !important;
    margin-bottom: 0 !important;
    width: 20% !important;
    border-radius: 5px;
    margin-left: 80%;
}

.textin{
    height: 100px;
    width: 100%;
    resize: none;
    border-radius: 5px;
    border: none;
}

.textareaContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    /* border: 1px solid black; */
  }
  
  .selectedStar {
    color: rgba(241, 137, 1, 0.903);
    cursor: pointer;
    font-size: 30px;
  }
  
  .star {
    color: rgb(105, 103, 103);
    cursor: pointer;
    font-size: 25px;
  }