body{
    background-image: url("../../assets/Images/greyback.jpg");
    background-size:cover;
}
.overallbox{
    margin-top: 0px;
    margin: 0 auto;
}

.content{
    color: blue;
    padding-top: 3%;
}
